#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

configure:
	dh_testdir

build:
	dh_testdir

clean:
	dh_testdir

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	./runtests
	install -m 0755 firewally debian/firewally/usr/sbin
	echo "FIREWALLY_UNCONFIGURED=1" > debian/firewally/etc/firewally/firewall.conf

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install configure
